@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.contact_information {
    padding: 12px;
}

.info {
    display: flex;
    flex-direction: row;
    padding: 10px;

}

.contact_icon,
.contact_text {
    padding: 3px;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.icon_size {
    background: rgb(63, 62, 244);
    background: linear-gradient(355deg, rgba(63, 62, 244, 1) 33%, rgba(68, 93, 246, 1) 47%);
    padding: 5px;
    font-size: 18px;
    color: white;
}

.link {
    text-decoration: none;
    font-size: 10px;
    justify-content: center;
}

.profile_description {
    display: flex;
    padding: 30px;
    justify-content: flex-start;
    background: rgb(64, 88, 242);
    background: linear-gradient(355deg, rgba(64, 88, 242, 1) 0%, rgba(68, 93, 246, 1) 100%);
}

.img {
    padding-right: 25px;
}

.username_section {
    padding-left: 15px;
    color: white;
}

.name {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 45px;
    font-weight: 700
}

.desgination {
    padding-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}


.sectiontwo {
    padding: 12px;
}

.About_me,
.education,
.Experience,
.skills {
    padding: 12px;
}

.about_description {
    padding: 12px;
    font-size: 12px;
}

.title {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.hr_line {
    border: solid;
    border-radius: 5px;
    width: 100px;
    color: #3f3ef4;
}


.edu_sec {
    display: flex;
    flex-direction: row;
}

.each_section {
    width: 80%;
    height: 50%;
}

.year {
    padding-left: 18px;
    font-family: roboto;
    font-size: 10px;
    color: grey;
}

.bold {
    text-align: start;
    font-family: "roboto";
    font-weight: 600;
    font-size: 12px;
}

.edu_information {
    font-size: 10px;
    font-family: roboto;

}

.circle-wrap {
    height: 100px;
    width: 100px;
    background-color: #3f3bf4;
    border-radius: 50%;

}


.circle-wrap1 {
    width: 50%;
    height: 50%;
    border-top-left-radius: 70px;
    background-color: #c4c4c4;
}


.circle {
    position: relative;
    top: 10px;
    right: 10px;
    left: 10px;
    bottom: 10px;
    height: 80px;
    width: 80px;
    border-radius: 100%;
    background-color: white;
}

.skills_contianer {
    align-items: center;
    padding: 10px;
}

.skill_name {
    padding-left: 10px;
    font-size: 10px;
}

.circle_number {
    position: relative;
    top: 26px;
    left: 18px;
    font-size: 25px;
    font-family: roboto;
}

@media only screen and (min-width: 992px) {
    .contact_information {
        padding: 15px;
    }

    .info {
        display: flex;
        flex-direction: row;
        padding: 12px;

    }

    .contact_icon,
    .contact_text {
        padding: 5px;
        font-size: 18px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .icon_size {
        background: rgb(63, 62, 244);
        background: linear-gradient(355deg, rgba(63, 62, 244, 1) 33%, rgba(68, 93, 246, 1) 47%);
        padding: 5px;
        font-size: 25px;
        color: white;
    }

    .link {
        text-decoration: none;
        font-size: 18px;
        justify-content: center;
    }

    .username_section {
        padding-left: 25px;
        color: white;
    }

    .year {
        padding-left: 18px;
        font-family: roboto;
        font-size: 15px;
        color: grey;
    }

    .bold {
        text-align: start;
        font-family: "roboto";
        font-weight: 600;
        font-size: 18px;
    }

    .edu_information {
        font-size: 14px;
        font-family: roboto;

    }

    .title {
        font-family: sans-serif;
        font-size: 20px;
        font-weight: 800;
    }

    .about_description {
        padding: 12px;
        font-size: 15px;
        font-family: "roboto";
    }

    .percentage_container {
        justify-content: space-around;
    }

    .skill_name {
        padding-left: 10px;
        font-size: 18px;
    }
}